.clear.vspace
#footer_block.grid_12
  %p
    A project at
    %a{ :href => "http://cmu.edu" }
      Carnegie Mellon University.
    Source on
    %a{:href=>"http://github.com/arbales/peopleandrobots.org"}
      github.com.   
.clear
      
