!!!
%html
  %head
    %title
      Project on People &amp; Robots &bull; Projects
    %link{ :href => "http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css", :rel => "stylesheet" }
    %link{ :href => "/css/grid.css", :rel => "stylesheet" }
    %link{ :href => "/css/style.css", :rel => "stylesheet" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/app.js" }
  %body
    .container_8
      .grid_8
        %h1
          %a{ :href => "/" }
            %img{ :src => "/images/ppr3.png", :alt => "Project on People and Robots" }
      .clear
      #fade
      #nav.grid_8
        %ul.inline
          %li
            %a{ :href => "/people" }
              People
          %li
            %a{ :href => "/projects" }
              Projects
          %li
            %a{ :href => "/sponsors" }
              Sponsors
        %span.clear
      .clear
      #fade
      .clear.vspace_2
      
      =yield
      
      .clear.vspace
      #footer_block.grid_12
        %p
          Copyright &copy; 2010
          =succeed "." do
            %a{ :href => "http://cmu.edu" }Carnegie Mellon University
          Last updated 22 June 2010.
      .clear
      
