= erb(:top, :layout => false)
#content_left.grid_6
  %h2
    Error 404
  %p.opening
    Sorry, but the file or location your looking for could not be found.
    Please check the address and try again.
= erb(:bottom, :layout => false)
