<%= erb(:top, :layout => false) %>

		<div id="content_left" class="grid_6">
			<h2>Error 404</h2>
			<p class="opening">
				Sorry, but the file or location your looking for could not be found.
				Please check the address and try again.
				</p>
		</div>

<%= erb(:bottom, :layout => false)%>