.grid_8
  #content_left.grid_6.alpha
    %p.opening
      Our work is divided into several areas, all of which are actively growing.

.clear.vspace_2
.projects
  .grid_8
    %h3
      How robots can help people
    %ul.multidimensional
      %li
        %p.list-selector
          %strong.block
            How can a robot walk naturally with a person?
          This subject is the topic of Rachel Gockley's dissertation research. Rachel's dissertation work is developing a robot called Companion, armed with algorithms that sense and navigate the physical and social setting.
        %ul
          %li
            Kirby, R., Simmons, R., and Forlizzi, J. Variable Sized Grid Cells for Rapid Replanning in Dynamic Environments. Accepted to IROS09.
          %li
            =paper_link "Kirby, R., Simmons, R., and Forlizzi, J. COMPANION: A Constraint-Optimizing Method for Person-Acceptible Navigation. Accepted to RO-MAN09.", nil
          %li
            =paper_link "Gockley, Rachel, Forlizzi, Jodi and Simmons, Reid (2007): Natural person-following behavior for social robots. In: Proceedings of the ACM/IEEE International Conference on Human-Robot Interaction 2007. pp. 17-24.", nil
          %li
            =paper_link "Gockley, R., Bruce, A., Forlizzi, J., Michalowski, M., Mundell, A., Rosenthal, S., Seller, B., Simmons, R., Snipes, K., Schultz, A., and Wang, J. (2005). Designing Robots for Long-Term Social Interaction. Proceedings of ICRA05. New York, NY: John Wiley and Sons, 2199-2204.", nil
      %li
        %p.list-selector
          %strong.block
            Receiving help from a robot.
          Receiving help from a robot. This subject is the topic of Cristen Torrey's dissertation research. When face to face, a help giver has contextual information that can be used to tailor communication. Current research on robotic helpers seeks to leverage these benefits of physically embodied interaction without acknowledging that receiving help is not always a positive experience. Help recipients may feel scrutinized, or they may feel the helper has taken control of their activity. Cristen's dissertation research examines both positive and negative byproducts of receiving help, testing whether help from a robot is perceived as evaluative or controlling.
        %ul
          %li
            Torrey, C. 2008. Social and psychological reactions to receiving help from a robot. In CHI '08 Extended Abstracts on Human Factors in Computing Systems. CHI '08. ACM, New York, NY, 2653-2656.
          %li
            Torrey, C., Fussell, S.R., and Kiesler, S. 2008. Trying to Help: Social Challenges for Smart Robots. In Proceedings of the Workshop on Robotic Helpers: User Interaction, Interfaces and Companions in Assistive and Therapy Robotics at HRI '08.
      %li
        %p.list-selector
          %strong.block
            How can intelligent objects in the home sense the patters of inhabitants and infer when to help?
          The Sensechair was a project by Jodi Forlizzi, Carl DiSalvo, Bilge Mutlu, and Francine Gemperle that explored this question.
        %ul
          %li
            =paper_link "Mutlu, B., Krause, A., Forlizzi, J., Guestrin, C., and Hodgins, J. (2007). Robust, Low-Cost, Non-intrusive Sensing and Recognition of Seated Postures. Proceedings of UIST07. New York, NY: ACM Press, 149-158.", "p142-mutlu"
          %li
            =paper_link "DiSalvo, Carl, Forlizzi, Jodi, Zimmerman, John, Mutlu, Bilge and Hurst, Amy (2005): The SenseChair: The lounge chair as an intelligent assistive device for elders. In: Proceedings of the Conference on Designing for User Experiences (DUX05) November, 2005, San Francisco, CA, USA.", nil
          %li
            =paper_link "Hurst, Amy, Zimmerman, John, Atkeson, Christopher and Forlizzi, Jodi (2005): The sense lounger: establishing a ubicomp beachhead in elders' homes. In: Proceedings of ACM CHI 2005 Conference on Human Factors in Computing Systems 2005. pp. 1467-1470.", "p1467-hurst"
      %li
        %p.list-selector
          %strong.block
            Elders and products
          What can we learn through the principled study of elders and products they use? These projects attempt to understand opportunities for assistive technologies for elders and their families and caregivers.
        %ul
          %li
            =paper_link "Forlizzi, J. (2005). Robotic Products to Assist the Aging Population. Interactions, V12N2, 16-18.", "p16-forlizzi"
          %li
            =paper_link "Torrey, C., Fussell, S. R. and Kiesler, S. 2005. Appropriate accommodations: Speech technologies and the needs of older adults. In Proceedings of the AAAI Fall Symposium: Caring Machines, AAAI Press.", "1-torrey"
          %li
            =paper_link "Forlizzi, Jodi, DiSalvo, Carl and Gemperle, Francine (2004): Assistive Robotics and an Ecology of Elders Living Independently in Their Homes. In Human-Computer Interaction, 19 (1) pp. 25-59", "forlizziHCIJ"
          %li
            =paper_link "Gemperle, Francine, DiSalvo, Carl, Forlizzi, Jodi and Yonkers, Willy (2003): The Hug: a new form for communication. In: Proceedings of DUX03: Designing for User Experiences 2003. pp. 1-4.", "HUG"
          %li
            =paper_link "Hirsch, Tad, Forlizzi, Jodi, Hyder, Elaine, Goetz, Jennifer, Stroback, Jacey and Kurtz, Chris (2000): The ELDeR Project: Social, Emotional, and Environmental Factors in the Design of Eldercare Technologies. In: Proceedings of the 2000 ACM Conference on Universal Usability 2000. pp. 72-79.", nil
  
  .grid_8
    %h3
      Fundamental mental models and communication
    %ul.multidimensional
      %li
        %p.list-selector
          %strong
            Designing gaze behavior for humanlike robots
          \&hellip; was Bilge Mutlu's dissertation topic. The project involved observations of the way people use gaze in their communications with others, and then modeling those patterns to create eye movements by a robot to help guide the flow of a conversation. The work was developed in collaboration with researchers from Japan's Osaka University and from ATR Intelligent Robotics and Communication Laboratory.
        %ul
          %li
            Mutlu, B. Footing in Human-Robot Conversations: How Robots Might Shape Participant Roles Using Gaze Cues."
          %li
            =paper_link "Mutlu, Bilge, Krause, Andreas, Forlizzi, Jodi, Guestrin, Carlos and Hodgins, Jessica (2007): Robust, Lowcost, Non-intrusive Sensing and Recognition of Seated Postures. In: Proceedings of 20th ACM Symposium on User Interface Software and Technology October 7-10, 2007, 2007, Newport, RI, USA.", "p149-mutlu"
          %li
            =paper_link "Mutlu, Bilge, Osman, Steven, Forlizzi, Jodi, Hodgins, Jessica and Kiesler, Sara (2006): Task Structure and User Attributes as Elements of Human-Robot Interaction Design. In: Proceedings of the 15th IEEE International Symposium on Robot and Human Interactive Communication (Ro-Man06) September, 2006, Hatfield, UK.", "2-mutlu"
          %li
            =paper_link "Mutlu, Bilge, Hodgins, Jessica and Forlizzi, Jodi (2006): A Storytelling Robot: Modeling and Evaluation of Human-like Gaze Behavior. In: Proceedings 2006 IEEE-RAS International Conference on Humanoid Robots December 2006, Genova, Italy.", "Mutlugaze"
      %li
        %p.list-selector
          %strong
            People's mental models of robots is a long-standing debate in HRI.
          Do people assume robots that look like people can respond as people do? Do people respond to interactive robots as though they were people? Our work shows how people's mental models and behavior vary with what robots look like, what they say, and even where they were built. We also show how mental models influence how people interact with robots.
        %ul
          %li
            Lee, M. K., Kiesler, S., Forlizzi, S. 2010. Receptionist or Information Kiosk: How Do People Talk With a Robot? Proceedings of the Conference on Computer-Supported Cooperative Work.  NY: ACM Press.
          %li
            =paper_link "Kiesler, S., Powers, A., Fussell, S. R., and Torrey, C. 2008. Anthropomorphic interactions with a robot and a robot-like agent. Social Cognition, Vol. 26, No. 2, 169-181.", "4-kiesler"
          %li
            =paper_link "Torrey, C., Fussell, S. R., and Kiesler, S. 2009. What robots could teach us about perspective taking. in Morsella, E. (ed.) Expressing Oneself/Expressing One's Self: A festschrift in honor of Robert M. Krauss. Taylor and Francis, NY.", "5-torrey"
          %li
            =paper_link "Torrey, C., Powers, A., Fussell, S. R., and Kiesler, S. 2007. Exploring adaptive dialogue based on a robot's awareness of human gaze and task progress. In Proceedings of the International Conference on Human-Robot Interaction. HRI '07. ACM, New York, NY, 247-254.", nil
          %li
            =paper_link "Powers, A., Kiesler, S., Fussell, S. R., and Torrey, C. 2007. Comparing a computer agent with a humanoid robot. In Proceedings of the International Conference on Human-Robot Interaction. HRI '07. ACM, New York, NY, 145-152.",nil
          %li
            =paper_link "Gockley, Rachel, Forlizzi, Jodi and Simmons, Reid (2006): Interactions with a moody robot. In: Proceedings of the 1st ACM SIGCHI/SIGART Conference on Human-Robot Interaction 2006. pp. 186-193.", "p186-gockley"
          %li
            =paper_link "Torrey, C., Powers, A., Marge, M., Fussell, S. R. and Kiesler, S. 2006. Effects of Adaptive Robot Dialogue on Information Exchange and Social Relations. In Proceedings of the International Conference on Human-Robot Interaction. HRI '06. ACM, New York, NY.", "6Torrey"
          %li
            =paper_link "Mutlu, Bilge, Osman, Steven, Forlizzi, Jodi, Hodgins, Jessica and Kiesler, Sara (2006): Task Structure and User Attributes as Elements of Human-Robot Interaction Design. In: Proceedings of the 15th IEEE International Symposium on Robot and Human Interactive Communication (Ro-Man06) September, 2006, Hatfield, UK.","2-mutlu"
          %li
            =paper_link "Mutlu, Bilge, Osman, Steven, Forlizzi, Jodi, Hodgins, Jessica and Kiesler, Sara (2006): Perceptions of ASIMO: An exploration on co-operation and competition with humans and humanoid robots. In: Extended Abstracts of the Human-Robot Interaction Conference (HRI06) March, 2006, Salt Lake City, UT, USA.", "7-mutlu"
          %li
            =paper_link "Lee, S.-L., &amp;Kiesler, S. (2005). Human mental models of humanoid robots, International Conference on Robotics and Automation, ICRA 2005, Barcelona, SP. April.", "8-lee"
          %li
            =paper_link "Kiesler, T., &amp;Kiesler, S. (2004). My pet rock and me: An experimental exploration of the self extension concept. Advances in Consumer Research, Vol. XXXII (32).", nil
          %li
            =paper_link "Goetz, J., Kiesler, S., &amp;Powers, A. (2003). Matching robot appearance and behavior to tasks to improve human-robot cooperation. Proceedings of the 12th IEEE Workshop on Robot and Human Interactive Communication. RO-MAN 2003, Oct. 31 - Nov. 2, Millbrae, CA.","10-goetz" 
          %li
            =paper_link "DiSalvo, Carl F., Gemperle, Francine, Forlizzi, Jodi and Kiesler, Sara (2002): All robots are not created equal: the design and perception of humanoid robot heads. In: Proceedings of DIS02: Designing Interactive Systems: Processes, Practices, Methods, &amp;Techniques 2002. pp. 321-326.","11-disalvo"
          %li
            =paper_link "Parise, S., Kiesler, S., Sproull, L., &amp;Waters, K. (1999). Cooperating with life-like interface agents. Computers in Human Behavior, 15, 123-142.", "12-parise"
          %li
            =paper_link "Sproull, L., Subramani, R., Kiesler, S., Walker, J., &amp;Waters, K. (1996). When the interface is a face. Human-Computer Interaction, 11, 97-124. (reprinted in B. Friedman, (1997) Human values and the design of technology, CLSI, Publications.",nil
          %li
            =paper_link "Kiesler, S. &amp;Sproull, L. (1997). Social responses to “social” computers. In B. Friedman, Human values and the design of technology, CLSI, Publications.", nil
          %li
            =paper_link "Kiesler, S., Sproull, L. &amp;Waters, K. (1995). A prisoner's dilemma experiment on cooperation with people and human-like computers. Journal of Personality and Social Psychology, 79(1), 47-65.","13-kiesler"
  .grid_8
    %h3
      How service robots function in physical and social context
    %ul.multidimensional
      %li
        %p.list-selector
          %strong
            Robots are being deployed in hospitals
          not just in surgeries, but also as autonomous delivery vehicles. In this role, they have to interact with staff and patients.
        %ul
          %li
            =paper_link "Mutlu, Bilge and Forlizzi, Jodi (2008): Robots in Organizations: The Role of Workflow, Social, and Environmental Factors in Human-Robot Interaction. In: Proceedings in the Third International Conference on Human-Robot Interaction March 12-15, 2008, Amsterdam, The Netherlands.","14-mutlu"
          %li
            =paper_link "Forlizzi, Jodi (2007): How robotic products become social products: an ethnographic study of cleaning in the home. In: Proceedings of the ACM/IEEE International Conference on Human-Robot Interaction 2007. pp. 129-136.","p129-forlizzi"
          %li
            =paper_link "Forlizzi, Jodi and DiSalvo, Carl (2006): Service robots in the domestic environment: a study of the roomba vacuum in the home. In: Proceedings of the 1st ACM SIGCHI/SIGART Conference on Human-Robot Interaction 2006. pp. 258-265.","p258-forlizzi"
  .grid_8
    %h3
      Deployment of robots over the long term
    %ul.multidimensional
      %li
        %p.list-selector
          %strong
            Snackbot is a mobile, semi-autonomous robot
          \&hellip;built by an interdisciplinary team at Carnegie Mellon University. Snackbot has two jobs. One job is to serve as a research platform for projects in robotics, design, and behavioral science. We welcome new partners or sponsors for this work. Snackbot's other job is to serve snacks.
        %ul
          %li
            =paper_link "Lee, Min Kyung, Forlizzi, Jodi, Rybski, Paul E., Crabbe, Frederick, Chung, Wayne, Finkle, Josh, Glaser, Eric and Kiesler, Sara. 2009. The snackbot: documenting the design of a robot for long-term human-robot interaction.   Proceedings of the 4th ACM/IEEE International Conference on Human Robot Interaction 2009. pp. 7-14.", "15-lee"
%script
  runAccordians();
