.grid_6
  %p.opening
    Our sponsors provide essential resources such as funds,
    equipment, and discussion.
.clear.vspace_2
  
#content_left.grid_4

  %p.opening
    %img{ :src => "/images/sponsors.png", :alt => "Sponsors" }
    
#content_right.grid_4
  %p
    Without their generous consideration,
    these projects would not be possible. Support for our work comes from:
  %ul
    %li
      %a{ :href => "http://nsf.gov" }
        The National Science Foundation
      \: IIS-0624275 (CMU), NSF-0624283 (Stanford) &amp; CNS-709077
    %li
      %a{ :href => "http://microsoft.com" }
        Microsoft Corporation
    %li
      %a{ :href => "http://www.hillmanfdn.org/" }
        Hillman Foundation
  .clear.vspace
  %p
    To discuss becoming a partner or sponsor of our work, send an e-mail
    to
    %em
      kiesler [at] cs [dot] cmu [dot] edu
    explaining your interest and goals for the project.