<%= erb(:top, :layout => false)%>

<div class="grid_5">
	<h3>Researchers</h3>
	
<ul>

<li><span class="name">Sara Kiesler</span>
Sara Kiesler is the Hillman Professor of Computer Science and Human Computer Interaction in the Human-Computer Interaction Institute at Carnegie Mellon. Professor Kiesler applies behavioral and social science techniques and theory, especially social psychology, to understanding people and technology.
<span class="email">kiesler [at] cs.cmu.edu</span></li>

<li><span class="name">Jodi Forlizzi</span>
Jodi Forlizzi is an Associate Professor in Design and Human Computer Interaction, and the A. Nico Habermann Junior Faculty Chair in the School of Computer Science. Professor Forlizzi applies Design theory and technique to understand and Design technology.
<span class="email">forlizzi [at] cs.cmu.edu</span></li>

<li><span class="name">Paul Rybski</span>
Paul Rybski is a Systems Scientist in the Robotics Department at Carnegie Mellon. Dr. Rybski studies autonomous systems that include mobile robots, and how these systems sense and model the state of the world.
<span class="email">prybski [at] cs.cmu.edu</span></li>

<li><span class="name">Pamela Hinds (Stanford)</span>
Associate Professor with the Center on Work, Technology, &amp;Organization in the Department of Management Science &amp;Engineering, Stanford University. She studies the effect of technology on groups. She also conducts research on professional service robots in the work environment, examining how people make sense of them and how they affect work practices.
<span class="email">phinds [at] stanford.edu</span></li>

<li><span class="name">Min Kyung Lee</span>
Min Kyung Lee is a Ph.D. student in the HCII, specializing in Design and behavioral/social science.
<span class="email">mklee [at] cs.cmu.edu</span></li>
</ul>
</div>
<div class="grid_5">
<h3>Recent Graduates</h3>
<ul>
	
<li><span class="name">Bilge Mutlu, Ph.D.</span>
Now at University of Wisconsin, Computer Sciences Department
Bilge Mutlu graduated in 2009 with a PhD in Carnegie Mellon's Human-Computer Interaction Institute. His current research emphasizes the details of nonverbal behavior, especially gaze, in human robot interaction.</li>

<li><span class="name">Cristen Torrey, Ph.D.</span>
Now at University of California, Berkeley, School of Education
Cristen Torrey graduated in 2009 with a PhD in Carnegie Mellon's Human-Computer Interaction Institute.  Her doctoral study focused on dialogs used by people and robots for helping  people.</li>
 
<li><span class="name">Carl DiSalvo, Ph.D.</span>
Now at Georgia Tech, School of Literature, Communication, and Culture
Carl DiSalvo graduated in 2006 with a Ph.D. in Design. His doctoral study focused on the role of products in society.</li>
</ul>
</div>
<div class="clear"></div>

<div class="grid_5">
	<br/>
	<h3>Contributors &amp; Assistants</h3>
	
	<ul class="list">
<li>Greg Armstrong, robot maintainer</li>
<li>Tarun Agarwal, undergraduate research assistant, technical</li>
<li>Austin Bales, undergraduate research assistant, Design</li>
<li>Greg Baltus, Standard Robot, head Design</li>
<li>Alvin Barton. U. Arkansas at Pine Bluff, undergrad research assistant (ARTSI)</li>
<li>Andrea Bravi, research assistant, technical</li>
<li>Jason Bannister, Standard Robot, head Design  </li>
<li>Talia Brodecki, Stanford WTO masters student</li>
<li>Levi Boyles, research assistant, technical</li>
<li>Jason Calairo,</li>
<li>Jean Cho, undergrad research assistant, psychology</li>
<li>Jon Chu, undergrad research assistant, technical</li>
<li>Wayne Chung, professor in Design</li>
<li>Frederick (Ric) Crabbe, visiting faculty from the U.S. Naval Academy</li>
<li>Andy Echenique, undergrad research assistant, psychology</li>
<li>Monica Echeverria, Stanford undergraduate</li>
<li>Jack Ferris, undergrad research assistant, technical</li>
<li>Josh Finkle, undergrad research assistant, Design</li>
<li>Susan Fussell, HCII associate professor, now at Cornell University</li>
<li>Francine Gemperle, Design researcher  </li>
<li>Erik Glaser, undergrad research assistant, Design</li>
<li>Jared Glover, undergrad research assistant</li>
<li>Rachel Gockley, robotics PhD student</li>
<li>Jennifer Goetz, research associate, psychology</li>
<li>David Holstius, HCII Ph.D. student, now at UC Berkeley</li>
<li>Chaya Hiruncharoenvate, undergrad research assistant, technical</li>
<li>Sidharth Jayadeep, undergrad research assistant, technical</li>
<li>Jessica Jones, Hampton U. undergrad research assistant (ARTSI)</li>
<li>John Kembel, HCII Ph.D. student</li>
<li>Tina Kiesler, associate professor, CSUN</li>
<li>Ronnette Killcrece, undergrad research assistant, psychology</li>
<li>Jin Su Kim, undergrad research assistant, technical</li>
<li>Kyle Kirby, undergrad research assistant, psychology</li>
<li>Adam Kramer, research associate, psychology  </li>
<li>David Kohlbrenner, undergrad research assistant, technical</li>
<li>Sonya Sona Kwak, visiting PhD student from KAIST, Korea</li>
</ul>
</div>
<div class="grid_5">
	<br/>
	<h3>&nbsp;</h3>
	<ul class="list">
<li>Venus Sau-lai Lee, research associate, psychology, now at NTU, Singapore</li>
<li>Shirlene Lim, undergrad research assistant, psychology &amp;programming</li>
<li>Heidy Maldonado, Stanford WTO Ph.D. student</li>
<li>Vince Mancuso, undergrad research assistant</li>
<li>Laura Martin, undergrad research assistant, psychology</li>
<li>Judith Matthews, assistant professor, University of Pittsburgh  </li>
<li>Chris Michaelades, masters student in Design, now at Apple</li>
<li>Marek Michalowski, robotics PhD student  </li>
<li>Michael Mishkin, undergrad research assistant, technical</li>
<li>Mike Montemerlo, CS PhD student www</li>
<li>Elliot Montgomery, undergrad research assistant, Design</li>
<li>Kimberley Nederlof, undergrad research assistant, Design</li>
<li>Joelle Pineau, CS PhD student</li>
<li>Anthony Porchelli, undergrad research assistant, psychology</li>
<li>Aaron Powers, research associate, now at iRobot</li>
<li>Jaldert Rombouts, visiting research grad student, University of Groningen</li>
<li>Nick Roy, CS PhD student, now at MIT</li>
<li>Aubrey Shick, HCII Ph.D. student</li>
<li>Leslie Setlock, CMU English Ph.D. student, now at Cornell University</li>
<li>Scott Smith, undergrad research assistant, Design</li>
<li>Kristen Stubbs, robotics PhD student, now at iRobot</li>
<li>James Toggweiler undergrad research assistant, Design</li>
<li>Sebastian Thrun, professor, now at Stanford</li>
<li>Jack Wu, undergrad research assistant, technical</li>
<li>Victoria Yew, undergrad research assistant</li>
<li>Chun Yu, undergrad research assistant, technical</li>
<li>William Yonkers, undergrad research assistant, Design</li>
<li>Matthijs Zwinderman, visiting research grad student, University of Groningen</li>
<li>Tijs Zwinkels, visiting research grad student, University of Groningen</li>
</ul>
</div>
<%= erb(:bottom, :layout => false)%>