<!DOCTYPE html>
<html>
<head>
	<title>Project on People &amp; Robots &bull; Projects</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
	<link rel="stylesheet" href="http://camero.417east.com/prisma/css/960.c.css"/>
	<link rel="stylesheet" href="/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/app.js"></script>
	
</head>
<body>
	<div id="cmu">
		<a href="/"><img src="/images/ppr.png" alt="PPR" /></a>
		</div>
	<div class="container_12">
		<div class="grid_12">
			<h1><a href="/"><img src="/images/ppr_new_logo.png" alt="Project on People and Robots" /></a></h1>
		</div>
		<div class="clear"></div>
		<div id="nav" class="grid_12">
			<ul class="inline">
				<li><a href="/people">People</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/sponsors">Sponsors</a></li>
				<span class="clear"></span>
			</ul>
		</div>
		<div class="clear"></div>
		
		<div id="fade"></div>