<%= erb(:top, :layout => false) %>

		<div id="porch" class="porch grid_12">
			<ul>
				<li style="background-color:#8D0000"></li>
				<li style="background-color:#66891B"></li>
				<li style="background-color:#1D3689"></li>
				
				</ul>
		</div>
		<script>
			
		items = $('porch').down('ul').childElements('li');
		
			function preventPanelCollisions(){
				items.each(function(s){
					s.stopObserving('mouseover');
				});
			}
			
			function watchPanels(){
				items.each(function(s){
					s.observe('mouseover', selectPane);
				});
			}
		
			function selectPane(){
				others = items.without(this);
			 	current = this;
				width = 25 / (items.length - 1);
				effects = []
				effects.push(new Effect.Morph(current, {style:'width:75%', sync: true}));
				others.each(function(s){
					effects.push(new Effect.Morph(s, {style:'width:'+width+'%;', sync: true}));
					});
				new Effect.Parallel(effects, {duration: .5,
					beforeStart: preventPanelCollisions,
					afterFinish: watchPanels});
				
			}
			
			items.each(function(s){
				s.morph('width:' + (1/items.length * 100) + '%;', {duration: .5});
				s.observe('mouseover', selectPane);
			});
		</script>
		
		<div id="content_left" class="grid_6">
			<p class="opening">
				The People and Robots Project is a group of researchers who are studying how people interact with robots. Robots that work with and for people must be designed not just to adapt to the physical world (the primary emphasis in traditional robotics) but also within the social world. Toward this end, our work has a distinct interdisciplinary character in its blend of the disciplines of design, social psychology, and robotics.</p>
			<p class="grid_5 alpha mini">We join other research pioneers in the new field of human robot interaction [link to HRI.org website]. For an earlier overview of HRI, see our introduction to the 2004 HCI Journal Special Issue on Human Robot Interaction [link to the PDF 64K].</p>
		</div>

		<div id="content_right" class="grid_4">
			<h3 class="list_header"><img src="images/goals_header.png" alt="Goals"></h3>
			<ul class="list">
				<li>Understand how people and robots will interact with one another in the context of the social world.</li>
				<li>Aid robotic technology development towards effective human-robot interaction.</li>
				<li>Advance dialogue on the appropriate and useful deployment of robots in work and home settings.</li>
			</ul>
		</div>
		
		<div id="content_right" class="grid_2">
			<h3 class="list_header"><img src="images/links_header.png" alt="Links"></h3>
			<ul class="list mini">
				<li>Understand how people and robots will interact with one another in the context of the social world.</li>
				<li>Aid robotic technology development towards effective human-robot interaction.</li>
				<li>Advance dialogue on the appropriate and useful deployment of robots in work and home settings.</li>
			</ul>
		</div>

		<div class="clear"></div>
		
		<div id="footer_block" class="grid_12">
			<p>Copyright &copy; 2010, <a href="http://cmu.edu">Carnegie Mellon University</a></p>
		</div>
		
	</div>



</body>
</html>
