-#
  #porch.porch.grid_12
    %ul
      %li{ :style => "background:url('/images/panel_1.jpg') left top no-repeat #8D0000;" }
      %li{ :style => "background:url('/images/panel_2.jpg') left top no-repeat #66891B" }
      %li{ :style => "background:url('/images/panel_3.jpg') left top no-repeat #66891B" }

#content_left.grid_8
  %p.opening
    The Project on People and Robots is a cross-disciplinary group of researchers that define and evolve interactions between humans and robots.

.clear.vspace
.grid_4
  %p
    Robots that work with and for people must be designed not just to adapt to the physical world (the primary emphasis in traditional robotics) but also within the social world. Toward this end, our work has a distinct interdisciplinary character in its blend of the disciplines of design, social psychology, and robotics.

.grid_4
  %ul.list
    %li
      Understand how people and robots will interact with one another in the context of the social world.
    %li
      Aid robotic technology development towards effective human-robot interaction.
    %li
      Advance dialogue on the appropriate and useful deployment of robots in work and home settings.

.clear